<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}My Base Page{%endblock%}</title>
    <link rel="stylesheet" href="{{ static 'css/style.css' }}" />
  </head>
  <body>
    <header class="title">
      <h1>{% block msg%}My Base Page{% endblock %}</h1>
    </header>

    <main class="maincontainer">{% block content%} {% endblock %}</main>

    <footer>
      <p>&copy; Spring 2026 by Soe Kaythi</p>
    </footer>
  </body>
</html>
