<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Flask App</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename = 'style.css')}}"
    />
  </head>
  <body>
    <h1>Soe Kaythi</h1>
    <h2>Welcome to Flask</h2>
    <figure>
      <img src="{{ url_for('static',filename = 'beach.jpg')}}" alt="image of a beach"
    </figure>
    <h2 class="subtitle">Lists</h2>
    {% for i in listfruits %}
      <p>{{i}}</p>
    {% endfor %}
    <h3>Check if {{f}} is in the list</h3>
    {% if f in listfruits %}
      <p class="instock">Great! We have {{f}} today!</p>
    {% else %}
      <p class="outstock">{{f}} is not in the list</p>
    {% endif %}
  </body>
</html>
